.progress {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 4px 2px #ddd;
    margin: 0 0 0 20px;
    position: relative;
    transition: all 0.3s;
    padding: 22px;
}

.progress__title {
    font-size: 26px;
    margin: 0 0 20px 0;
}
