.task {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 6px 2px #ddd;
    padding: 22px;
    max-width: 15em;
    margin: 10px;

    h3 {
        font-size: 22px;
        margin-top: 0;
    }
}
