.main-container {
    display: flex;
    width: 75%;
    height: auto;
    margin: 60px auto;

    :last-child {
        width: 100%;
    }

    @media (max-width: 1600px) {
        width: 90%;
    }

    @media (max-width: 1200px) {
        width: 95%;
    }
}
