.sidebar {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 6px 2px #ddd;
    min-width: 260px;
}

.sidebar__title {
    font-size: 26px;
    margin: 0;
    padding: 22px;
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
}

.sidebar__list {
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 18px 24px;
        transition: all 0.2s;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: orange;
            color: #fff;
            transform: scale(1.08);
            box-shadow: 0 0 4px 1px #999;
        }

        &:active {
            background-color: gold;
            transform: scale(1);
        }

        span {
            font-size: 24px;
            margin-right: 20px;
        }
    }
}
